In [8]:
'''
# Descomentar la línea de arriba para no tener que correr esto siempre
!pip3 install numpy
!pip3 install pandas
!pip3 install matplotlib
!pip3 install dash
!pip3 install dash-bootstrap-components
!pip3 install scikit-learn
!pip install --upgrade pip
#'''

'\n# Descomentar la línea de arriba para no tener que correr esto siempre\n!pip3 install numpy\n!pip3 install pandas\n!pip3 install matplotlib\n!pip3 install dash\n!pip3 install dash-bootstrap-components\n!pip3 install scikit-learn\n!pip install --upgrade pip\n#'

In [16]:
import numpy as np
import pandas as pd
import matplotlib as plt
import sklearn

from sklearn import datasets  
from sklearn.model_selection import train_test_split  # Import a specific function


iris = datasets.load_iris()

iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

iris_df.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
iris_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB